/** @type {import('tailwindcss').Config} */
export default {
  content: [
    "./index.html",
    "./src/**/*.{js,jsx,ts,tsx}",
  ],
  theme: {
    extend: {
      fontFamily: {
        fair: ['"Playfair Display"', 'serif'],
        sans: ['"DM Sans"', 'sans-serif'],
        cormorant: ['"Cormorant Garamond"', 'serif'],
      },
      colors: {
        lux: '#b5713a',
        'lux-light': '#d4905a',
        cream: '#f5f0e8',
        hair: '#99938b',
        'hair-dark': 'rgb(45, 42, 42)',
        'cream-light': '#faf6f0',
        ink: '#0d0d0d',
      }
    }
  },
  plugins: [],
}