MONGO_URI=<mongodb url>
PORT=<port> for local host
JWT_SECRET="<jwt secret key>"
UNSUBSCRIBE_JWT_SECRET="<jwt unsubscribe secret key>""



# cloudinary url
CLOUDINARY_CLOUD_NAME=<CLOUDINARY_CLOUD_NAME>
CLOUDINARY_API_KEY=<CLOUDINARY_API_KEY>
CLOUDINARY_API_SECRET=<CLOUDINARY_API_SECRET>


GMAIL_USER=<gmail>
GMAIL_APP_PASSWORD=<app password>
EMAIL_FROM_NAME=<site name>
FRONTEND_URL=<http://xyz.com>